*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

.nav-flex {
  display: flex !important;
  justify-content: flex-end;
}

.navbar-light {
  background-color: transparent;
  border: 1px solid rgb(89, 71, 255);
  padding: 10px 80px;
}

.nav-link {
  color: white !important;
  background-color: rgb(89, 71, 255);
  border: 1px solid rgb(89, 71, 255);
  border-radius: 80px;
  padding: 10px;
  margin-right: 10px;
  font-weight: 700;
}

.nav-link:hover {
  color: white !important;
  background-color: rgba(25, 9, 161, 0.795);
  transition: 400ms ease-in-out;
}

.App {
  text-align: center;
  justify-content: center;
}

.btn-add {
  color: rgb(255, 255, 255);
  background-color: rgb(89, 71, 255) !important;
  border: 1px solid rgb(71, 74, 255);
  border-radius: 50px;
  padding: 0px 50px;
  box-shadow: 20px 5px 8px 0px rgba(0, 0, 0, 0.253);
}

.btn-add:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(39, 24, 175) !important;
  border: 1px solid rgb(133, 121, 241);
}

.btn-delete {
  border-radius: 50px;
}

.todo-item-div {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  border: 1px solid gainsboro;
  border-radius: 50px;
  padding: 10px 0px;
  max-width: 900px;
}

.list-input {
  border: none;
  background-color: transparent !important;
  max-width: 800px;
}

.list-input::placeholder {
  color: black;
  font-weight: 600;
}

.form-input {
  border: 1px solid gainsboro;
  background-color: transparent !important;
  max-width: 950px;
  padding: 35px !important;
  box-shadow: 20px 5px 8px 0px rgba(0, 0, 0, 0.253);
}

.form-input::placeholder {
  color: rgb(39, 24, 175) !important;
  font-weight: 600;
}

.form-control:focus,
.form-control:hover {
  box-shadow: none;
  border-color: rgb(89, 71, 255);
}

.icon-plus {
  padding: 20px;
}
